<div class="row">
  <div class="content-header">
    <h1>Clientes <small>{{ sub_title }}</small></h1>
    <div class="grey-text">
      <small>
        <a href="#/">Controlador de Créditos</a> >
        <a href="#/Clientes">Clientes</a> >
        <span>{{ navegacao }}</span>
      </small>
    </div>
  </div>

  <div class="card col s12">
    <div class="card-content">
      <form class="row" autocomplete="off" @submit.prevent="save">
        <div class="input-field col s12">
          <h5>Dados do Cliente</h5>
        </div>
        <div class="col s12 center-align">
          <flash-message></flash-message>
        </div>
        <div class="input-field col s6">
          <input type="text" v-model="client.name" id="name" class="validate" placeholder="Digite o nome do Cliente" autocomplete="off" required>
          <label for="name" class="active">Nome</label>
        </div>
        <div class="input-field col s6">
          <input type="email" v-model="client.email" id="email" class="validate" placeholder="Digite o e-mail do Cliente" autocomplete="off" required>
          <label for="email" class="active">E-mail</label>
        </div>
        <div class="input-field col s6">
          <input type="text" v-model="client.document" id="document" class="validate" placeholder="Digite o documento do Cliente (sem os pontos)" autocomplete="off" required>
          <label for="document" class="active">Documento</label>
        </div>
        <div class="input-field col s6">
          <input type="text" v-model="client.fone" id="fone" class="validate" placeholder="Digite o telefone do Cliente" autocomplete="off" required>
          <label for="fone" class="active">Telefone</label>
        </div>
        <div class="input-field col s6">
          <input type="submit"class="waves-effect waves-light btn-large blue-grey darken-4" value="salvar">
        </div>
      </form>
    </div>
    <div class="card-action">
      <a href="#/clientes">Voltar</a>
    </div>
  </div>
</div>
